name: Deploy to ModelScope Studio

on:
  push:
    branches: [main]

jobs:
  deploy-to-modelscope:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          
      - name: Setup Git LFS
        run: |
          git lfs install
          git lfs fetch
          git lfs checkout

      - name: Push to ModelScope Studio
        env:
          MODELSCOPE_TOKEN: ${{ secrets.MS_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git config --global lfs.http://oauth2:$MODELSCOPE_TOKEN@www.modelscope.cn/studios/OhMyDearAI/UVR5_UI.git/info/lfs.locksverify true
          git remote add modelscope https://oauth2:$MODELSCOPE_TOKEN@modelscope.cn/studios/OhMyDearAI/UVR5_UI.git
          git push modelscope main:master --force
